<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <div class ="container mt-5">
        <div class="col text-center border border-dark mt-2 mx-5 pb-2">
            <h1>Welcome, {{request.session.user_name}}! LUP</h1>
            <div class="col">
                <button class="btn btn-primary"><a class="text-decoration-none text-white" href="/logout">Logout</a></button>
            
            
                
                    <button class="btn btn-primary"><a class="text-decoration-none text-white" href="/new">Create a Group</a></button>
                
            
            
                
                    <button class="btn btn-primary"><a class="text-decoration-none text-white" href="/user/{{ request.session.user_id }}">Go to profile</a></button>
                </div>
            
        </div>

        <div class="row ">
            <div class="col">
                <h1>Joined Groups</h1>
                {% for group in user.users_groups.all %}
                    <li> <a href="/go_to/{{ group.id }}">{{ group.group_name }}</a> </li>
                {% endfor %}
            </div>
            <div class="col">
                <h1>All Groups</h1>
                {% for group in groups %}
                    <li> Add <a href="/favorite/{{group.id}}">Add {{ group.group_name }}</a>  To Your Prayer Groups </li> 
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>